html{
  max-width:none;
  margin: 0 auto;
  background-color: #EFF6EF;
  align-items: center;
}


p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height:1.5;
}

img.building{
  width:100%;
  text-align: center;
}

img.knight{
  width:100%;
  text-align: center;
}
img.fixme{
  width:100%;
  height: auto;
  padding-top: 50px;
}

img{
  width: 100%;
  height:100%;
  align-items: center;
  display: block;
}

h3{
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2E8B57;
  text-align: center;
}

img.comparison{
  padding-bottom: 20px;
  width: 100%;
}

h6 {
  font-size: 14px;
  font-family: 'Helvetica','Arial', sans-serif;
  color: #2E8B57;
  font-size: 10px;
  font-weight: bold;
}

p.finish{margin-bottom: 40px;}

#byline{
font-size: 16px;
font-style: 'Noto Serif', serif;
color:grey;
font-weight: 100;
}

h1{
  letter-spacing: 5px;
  font-size: 32px;
  font-weight: 200;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 10px;
}
p.copyright{
  font-size: 12px;
  font-family: 'Helvetica','Arial', sans-serif;
  text-align: center;
}

figcaption{
  color: grey;
  font-size: 12px;
}
.figure{
  width:200px;
  height:300px;
  text-align: center;
}

href {
  color: #2E8B57
}
